{% extends 'basesatu.html' %} {% load static %} {% block content %}


<body class="">

    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <center>
                <h1>Selamat Datang Pada Menu Admin Bus</h1>
                <h3>Data Semua Bus</h3>
            </center>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h4 class="text-center">DETAIL</h4><br>
                    </div>
                </div>

                <div>
                    <div class="card" style="width: 100%">
                        <ul class="list-group list-group-flush">
                            {% for d in data %}
                            <li class="list-group-item">
                                <h3>Judul : {{d.judul}}</h3>
                            </li>
                            <center>
                                <li class="list-group-item"><img src="{{d.img.url}}" height="50%"></li>
                            </center>
                            <li class="list-group-item">Merk Bus : {{d.merk_seri_bus}}</li>
                            <li class="list-group-item">Nomor Plat : {{d.no_plat}}</li>
                            <li class="list-group-item">Kategori : {{d.kategori}}</li>
                            <li class="list-group-item">Harga/12jam : RP {{d.harga_12jam}},-</li>
                            <li class="list-group-item">Harga/12jam : RP {{d.harga_fullday}},-</li>
                            <li class="list-group-item">Jumlah Kursi : {{d.jml_kursi}}</li>
                            <li class="list-group-item">Jumlah Bus yang tersedia : {{d.jml_bus}}</li>


                            <li class="list-group-item">AC :
                                <!-- {{d.ac}} -->
                                {% if not d.ac %} Tidak Ada {% else %} Ada {% endif %}

                            </li>
                            <li class="list-group-item">DVD :
                                <!-- {{d.dvd}} -->
                                {% if not d.dvd %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">Toilet :
                                <!-- {{d.toilet}} -->
                                {% if not d.toilet %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">Stop Kontak :
                                <!-- {{d.stop_kontak}} -->
                                {% if not d.kontak %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">Sabuk Pengaman :
                                <!-- {{d.sabuk_pengaman}} -->
                                {% if not d.sabuk_pengaman %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">Bagasi :
                                <!-- {{d.bagasi}} -->
                                {% if not d.bagasi %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">WIFI :
                                <!-- {{d.wifi}} -->
                                {% if not d.wifi %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">TV :
                                <!-- {{d.tv}} -->
                                {% if not d.tv %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">Bantal :
                                <!-- {{d.bantal}} -->
                                {% if not d.bantal %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">Selimut :
                                <!-- {{d.selimut}} -->
                                {% if not d.selimut %} Tidak Ada {% else %} Ada {% endif %}

                            </li>
                            <li class="list-group-item">Smoking Area :
                                <!-- {{d.smoking_area}} -->
                                {% if not d.smoking_area %} Tidak Ada {% else %} Ada {% endif %}
                            </li>
                            <li class="list-group-item">Tambahan : {{d.tambahan}}
                            </li>

                            <li class="list-group-item">User : {{d.po_id}}</li>


                        </ul>
                        <!-- <div class="row gallery">
                            {% for p in image %}
                            <img src="{{ p.image.url }}" alt="Image Not Found" width="300px"> {% endfor %}
                        </div> -->
                        <!-- <div class="card-body"> -->
                        <a href="/pengguna" class="btn btn-danger" class="card-link">Back</a>
                        <a href="/pengguna/{{d.id}}/edit" class="btn btn-primary" class="card-link">Edit</a>
                        <!-- </div> -->
                    </div>{% endfor %}
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,BOCBUS <i class="material-icons">favorite</i> --
            </div>
        </div>
    </footer>
    </div>
    </div>

    {% endblock %}