{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div style="margin-top: 20%; margin-left: 30%;" class="col-md-4">
            <div class="card">
                <div class="card-header">
                    LOGIN
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %} {{ form.as_p }}

                        <a href="/registration" style="margin-left: 100px;"> Buat akun?</a>
                        <button style="margin-left: 15px;" class="btn btn-primary">Masuk</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}